{% extends "crudViews/layout.html.twig" %}

{% block title %}
{{ parent() }} - {{ app.translator.trans('views.index.list', { '%entity%': options.table }) }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="span8">
        <h1>{{ app.translator.trans('views.index.list', { '%entity%': options.table }) }}</h1>
    </div>

    <div class="span12">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
              {% for campo in campos %}
                <th>{{ campo }}</th>
              {% endfor %}
                <th>{{ app.translator.trans('views.index.actions') }}</th>
            </tr>
        </thead>
            <tbody>
        {% for entity in entities %}
            <tr>
              {% for campo in campos %}
                <td>{{ entity[campo] }}</td>
              {% endfor %}
                <td>
                    <div class="navbar">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="{{ path(options.route ~ '_show', { 'id': entity.id }) }}" class="btn btn-mini">
                                    {{ app.translator.trans('views.actions.show') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path(options.route ~ '_edit', { 'id': entity.id }) }}" class="btn btn-mini">
                                    {{ app.translator.trans('views.actions.edit') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

        <div class="span8">
        <a class="btn btn-primary likepaginator" href="{{ path(options.route ~ '_new') }}">
            {{ app.translator.trans('views.index.createnew', { '%entity%': options.table }) }}
        </a>
    </div>
    </div>
{% endblock %}