{% extends "crudViews/layout.html.twig" %}

{% block title %}
{{ parent() }} - {{ app.translator.trans('views.show.show', { '%entity%': options.table }) }}
{% endblock %}

{% block page %}
<div class="hero-unit">
    <h2>{{ app.translator.trans('views.show.show', { '%entity%': options.table }) }}</h2>

    <table class="table">
        <tbody>
            {% for campo in campos %}
                <th>{{ campo }}</th>
                <td>{{ entity[campo] }}</td>
            {% endfor %}
        </tbody>
    </table>
    <div class="span2">
        <a href="{{ path(options.route) }}" class="btn">
            {{ app.translator.trans('views.recordactions.backtothelist') }}
        </a>
    </div>
    <div class="span1">
        <a href="{{ path(options.route ~ '_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            {{ app.translator.trans('views.recordactions.edit') }}
        </a>
    </div>
    <div class="span1">
        <form action="{{ path(options.route ~ '_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('{{ app.translator.trans('views.recordactions.confirm') }}');">{{ app.translator.trans('views.recordactions.delete') }}</button>
        </form>
    </div>
</div>
{% endblock %}